.buttons{
    .button-1{
        font-size: 1.4rem;
        background-color: lawngreen;
        border: none;
        width: 75px;
    }
    .button-2{
        font-size: 1.4rem;
        background-color: gold;
        border: none;
        width: 75px;
    }
}

.pbar{
    font-size: 1.4rem;
    height: 30px;
    .progress-bar{
        background-color: orangered;
    }
}