body {
  background-image: url("../../assets/image/photo-1508615039623-a25605d2b022.avif");
  background-size: cover;
}

.page-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}

.loginpage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 4.5rem;
  position: relative;
  z-index: 1;
}

.loginpage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -1;
  border-radius: 1rem;
  
}

.loginpage h5{
  margin-bottom: -10px;
}

.loginpage h4 {
  margin-bottom: 15px;
}

.your-logo{
  color: rgb(144, 94, 0);
}

.your-login{
  font-weight: bold;
}

.image img {
  width: 100%;
}

.lp-label {
  font-size: 0.8rem;
}

.forgot-pass {
  font-size: 0.7rem;
  text-decoration: none;
  color: black;
}

.lp-register {
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.lp-input{
  font-size: 0.8rem;
  padding: 0.7rem 0.9rem;
}

.lp-continue{
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.lp-account{
  font-size: 0.7rem;  
  text-align: center;
  margin-top: 1.5rem;
}

.buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  
}

.buttons .lp-google{
  border-radius: 20px !important;
  background-color: white;
  border: none;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.buttons .lp-google img{
  width: 20px;
}

.buttons .lp-github{
  border-radius: 20px !important;
  background-color: white;
  border: none;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.buttons .lp-github img{
  width: 20px;
}

.buttons .lp-facebook{
  border-radius: 20px !important;
  background-color: white;
  border: none;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.buttons .lp-facebook img{
  width: 20px;
}

.spinner {
  width: 2.5vh;
  height: 2.5vh;
}


