.container {
  padding: 0 8rem !important;
  text-align: center;

}

.container .icon-button,
.container .icon-button:checked,
.container .icon-button:active {
  display: block;
  left: 0;
  margin: auto;
  padding: 2rem 0;
  color: gold !important;
  background: none !important;
  border: none !important;
}

.container .icon-button:hover {
  background: none;
  border: none;
}

.container .icon-button .light-mode {
  font-size: 2rem;
}

.container .icon-button .dark-mode {
  font-size: 2rem;
}

.container .input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container .input-button .success-button {
  border-radius: 0;
  padding: 0.35rem 2rem;
}

h1 {
  font-size: 4.5rem !important;
  letter-spacing: 3px;
  color: blueviolet !important;
}

.input-light {
  width: 40%;
  padding: 0.3rem 0.7rem;
}

.all-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 3rem;
  margin-right: 1.5rem;
}
