body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(242, 205, 159);
  position: relative;
  height: 98vh;
  box-sizing: border-box;
}

section {
  background-color: bisque;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70%;
}

.input-group input {
  width: 350px !important;
  height: 2.3rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
}

.input-group > button {
  border-radius: 1rem;
}

.text {
    width: 100%;
}

.text .text-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.2rem 0.3rem;
}

.text .text-button:hover {
  background-color: rgb(230, 230, 230);
  
}

.text .text-button .icons button {
  border: none;
  background: none;
}

.text .text-button .icons button .fa-pen-to-square {
  color: lightgreen;
}

.text .text-button .icons button .fa-pen-to-square:hover {
  color: green;
}

.text .text-button .icons button .fa-trash {
  color: rgb(247, 129, 129);
}

.text .text-button .icons button .fa-trash:hover {
  color: red;
}

.clear-button button {
  border: none;
  background: none;
  letter-spacing: 3px;
  color: red;
}

@media screen and (max-width: 754px) {
  .input-group input {
    width: 200px !important;
  }
}

@media screen and (max-width: 544px) {
  .input-group input {
    width: 150px !important;
  }
}

@media screen and (max-width: 472px) {
  .input-group input {
    width: 100px !important;
  }
}
