body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  position: relative;
}
.full-image {
  img {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
  }
}

.modal-project {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgb(237, 215, 186);
  padding: 2rem 4rem;
  text-align: center;
  border: 3px dotted black;
  h2 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  button{
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  button:hover{
    cursor: pointer;
    background-color: rgb(198, 189, 59);
  }
}

.modal-transparent{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(177, 126, 225);
    opacity: 0.6;
    height: 100vh;
    width: 100%;
    
}

.modal-content{
    display: none;
    position: fixed;
    z-index: 3;
    width: 30%;
    height: 20%;
    background-color: rgb(191, 191, 190);
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    .btn-close{
        display: block;
        margin-left: auto;
        background: none;
        border: none;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .btn-close:hover{
        font-size: 2rem ;
    }
    .content{
        letter-spacing: 2px;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

}

.modal-visible{
    display: block;
}
